* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fullpage-container {
  height: 100vh;
}

.slide {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 1s ease;
}

.slide.active {
  opacity: 1;
  visibility: visible;
}

.dots-container {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.dot {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: blue;
}

.dot.active {
  background: #000;
}
